[Unit]
Description=Simple httpd for static files
Requires=network.target
After=network.target

[Service]
Restart=on-failure
User={{ httpd_static_user }}
Group={{ httpd_static_group }}
ExecStart={{ monasca_download_dir }}/bin/static_httpd '{{ httpd_static_port }}' '{{ httpd_static_dir }}'

[Install]
WantedBy=multi-user.target
