description	"Simple httpd for static files"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

setgid {{ httpd_static_group }}
setuid {{ httpd_static_user }}
exec {{ monasca_download_dir }}/bin/static_httpd '{{ httpd_static_port }}' '{{ httpd_static_dir }}'
